header
{
	grid-template-columns: 1fr;
}
.search-button,
.navbar-item
{
	display:none;
}
.menu
{
	display: block;
}
.subtittle
{
	font-size: 13vmin;
}
.subtittle-description
{
	font-size: 4vmin;
}
#products
{
	grid-template-columns: 300px;
	grid-gap: 30px;
}