@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto:100');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/*
===================
HTML default styles
===================
*/

html, body
{
	padding:0;
	border:0;
	margin:0;
	font-family:'Montserrat',sans-serif;
}
a
{
	text-decoration:none;
	cursor:pointer;
	color:inherit;
}
h1, h2, h3
{
	text-transform:uppercase;
	margin:0;
}
p
{
	margin: 0;
}

/*
======
Header
======
*/

header
{
	display: grid;
	grid-template-columns: repeat(5, auto) 1fr;
	background-color: black;
	color: whitesmoke;
	text-transform: uppercase;
	font-size: .9em;
	height: 74px;
	padding: 0px 50px 0px 84px;
	grid-gap: 36px;
	align-items: center;
	justify-items: center;
}
header > a:nth-child(1),
header > a:hover,
header > a:active
{
	color:#FD7676;
	font-weight: bold;
}
.search-button
{
	background-color: whitesmoke;
	color: grey;
	border-radius: 7px;
	padding: 6px 12px;
	font-size: .75em;
	display: inline-block;
	justify-self: end;
	text-transform: none;
	text-align: center;
}
.search-img
{
	width: 14px;
	height: auto;
}

/*
================
Banner container
================
*/

.banner
{
	background-image: url(../images/bitmap-banner.png);
	background-size: cover;
	background-position: center;
	height: 67vh;
	width: 100%;
	display: grid;
	align-items: center;
}
.title
{
	font-size: 4.5vmax;
	background-color: white;
	margin: .05em 0px;
	padding: 0em 1em;
	display: inline-block;
	letter-spacing: 2px;
}

/*
===================
Subtitle container
===================
*/

.subtitles
{
	text-align: center;
	padding: 25px;
	letter-spacing: 7px;
}
.subtitle
{
	font-weight: 100;
	font-size: 4.6em;
}
.subtitle-description
{
	font-family: 'Roboto', sans-serif; 
}

/*
==================
Products container
==================
*/

#products
{
	display: grid;
	grid-template-columns: repeat(3, minmax(270px, 300px));
	justify-content: center;
	align-content: space-between;
	grid-gap: 100px 67px;
	padding: 25px 15px 50px 15px;
}
.product
{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-items: center;
	align-items: center;
	font-size: 21px;
}
.product-img
{
	grid-column: span 6;
	width: 100%;
}
.product-title
{
	grid-column: span 5;
	font-weight: bold;
	font-size: .9em;
	padding: 17px 0px;
}
.product-description
{
	font-size: .8em;
	grid-column: span 4;
	padding: 12px 0px;
}
.border-bottom
{
	width: 100%;
	background-color: black;
	height: 1px; 
	grid-column: span 6;
}
.size
{
	background-color: black;
	text-transform: uppercase;
	color: white;
	border-radius: 50%;
	padding: 10px;
	font-size: 1em;
}
.price
{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	letter-spacing: -2px;
	grid-column: span 2;
	font-weight: lighter;;
}
.user-img
{
	background-image: url(../images/profile.png);
	border-radius: 50%;
	max-width: 18%;
	grid-column: span 6;
	margin: 8px 0px;
}

/*
=============
Helpers class
=============
*/

.pink
{
	color: #FD7676;
}
.hidden
{
	color: transparent;
}
.menu
{
	justify-self: right;
	display: none;
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #FD7676; 

}